@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
*, *:before, *:after {
    box-sizing: border-box;
}
body,html{
    margin: 0;
	padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;  
    outline: 0;  
    background: url("https://cdn.discordapp.com/attachments/715325752639488012/784129142722920499/bg.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}
a{
 text-decoration: none;  
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo img{
    margin-top: 57px;
    margin-left: 48px;
}
.menu ul li:first-child a:first-child{
    opacity: 1;
}
.menu ul{
    display: flex;
    justify-content: right;
    list-style: none;
    margin-top: 65px;
    margin-right: 70px;
}
.menu ul li{
    padding-left: 20px;
}
.menu ul li a{
    font-weight: 600;
    font-size: 16px;
    color: #13274F;
    opacity: .6;
}
.menu .active a::after, .menu .active ~ li:hover::after{
    content: "";
    display: block;    
    margin: 0 auto;
    top: 14px;
    position: relative;
    background-color: #597FE2;
    width: 52px;
    height: 4px;
    border-radius: 25px;
}
.main h6{
    font-weight: 700;
    font-size: 36px;
    line-height: 8px;
    margin-top: 180px;
    margin-bottom: 50px;
    text-align: center;
}
.main h3{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    word-break: break-word;
    line-height: 30px;
    margin-bottom: 61px;
}
.box{
    width: 405px;
    height: 278px;
    border-radius: 15px;
    background: white;
}
.kapsayici{
    display: flex;
    place-items: center;
    place-content: center;
}
.box{
    margin-left: 53px;
}
.mac, .windows, .linux{
    cursor: default;
}
.mac{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}
.mac img{
    width: 63px;
    height: 78px;
    margin-top: 44px;
}
.nomg{
    text-align: center;
}
.macbutton{
    width: 221px;
    height: 61px;
    border: 3px solid #eef1fc;
    border-radius: 5px;
    background: none;
    color: #6D7593;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}
.macbutton:hover{
    border: 3px solid #597FE2;
}
.macbutton:focus{
    border: none;
}
.bigbox{
    width: 455px;
    height: 312px;
    border-radius: 15px;
    background: white;
    margin-left: 52px;
    box-shadow: 0 15px 42px -12px rgba(33, 76, 157, .2);
}
.windows{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 37px;
}
.windows img{
    width: 88px;
    height: 88px;
    margin-top: 39px;

}
.winbutton{
    width: 265px;
    height: 61px;
    border: none;
    background: #597FE2;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 19px;
    cursor: pointer;
}
.winbutton:hover{
    border: 3px solid black;
}
.need{
     color: #6D7593;
     font-weight: 400;
     font-size: 14px;
     display: grid;
     text-align: center;
}
.linux{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linux img{
    width: 101px;
    height: 119px;
    margin-top: 15px;
    margin-bottom: 13px;
}
.linbutton{
    width: 221px;
    height: 61px;
    border-radius: 5px;
    border: 3px solid #eef1fc;
    background: none;
    color: #6D7593;
    font-weight: 600;
    margin-bottom: 19px;
    font-size: 18px;
    cursor: pointer;
}
.linbutton:hover{
    border: 3px solid #597FE2;
}
.ff{
    margin-top: 82px;
    height: 290px;
    background: #E2E7FA;
}
.footer{
    padding-top: 63px;
    column-count: 3;
    column-gap: 110px;
    padding-left: 171px;
    padding-right: 171px;
}
.title{
    font-weight: 600;
    color: #13274F;
    font-size: 16px;
}
.footer p{
    font-weight: 400;
    color: black;
    font-size: 14px;
    margin-bottom: 61px;
    line-height: 30px;
}

.copyright p{
    font-weight: 400;
    color: #13274F;
    font-size: 14px;
    opacity: 0.6;
    text-align: center;
    margin-bottom: 34px;
}
